@use "../global" as *;

.button {
  border-width: 0;
  border-radius: 50%;
  @include square(150px);
  position: relative;
  cursor: pointer;
  background-color: $clr-light;

  @include respond-to("desktop") {
    width: 274px;
  }

  &:hover {
    &::before {
      content: "";
      position: absolute;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 450px;
      background-color: hslac($clr-light, 0.1);
      aspect-ratio: 1/1;
    }
  }
}
