@use "../global" as *;

.nav__item {
  display: inline-block;
  list-style: none;
  border-bottom: 3px solid transparent;
  padding-top: 39px;
  padding-bottom: 35px;
  cursor: pointer;

  a {
    text-decoration: none;
    color: $clr-light;
  }

  &:hover {
    border-color: hslac($clr-light, 0.5);
  }

  &#{&}--active {
    border-color: $clr-light;
  }

  &__number {
    display: none;
    @include respond-to("desktop") {
      display: inline-block;
      margin-right: 0.75rem;
      font-weight: 700;
    }
  }
}
