@use "../global.scss" as *;

.title {
  font-size: 1rem;

  @include respond-to("tablet") {
    font-size: unset;
  }
}

.title__number {
  font-weight: 700;
  color: hslac($clr-light, 0.25);
  margin-right: 1.75rem;
}
