.bg--dark {
  background-color: $clr-dark;
}

.bg--light {
  background-color: $clr-light;
}

.bg--white {
  background-color: $clr-white;
}

.text--dark {
  color: $clr-dark;
}

.text--light {
  color: $clr-light;
}

.text--white {
  color: $clr-white;
}
