@use "variables" as *;

.bg--dark {
  background-color: $clr-dark;
}

.bg--accent {
  background-color: $clr-accent;
}

.bg--light {
  background-color: $clr-light;
}

.text--dark {
  color: $clr-dark;
}

.text--accent {
  color: $clr-accent;
}

.text--light {
  color: $clr-light;
}
