$heading-sizes: 5rem, 3.5rem, 1.5rem, 1.25rem, 0.875rem;
$heading-sizes-tablet-up: 9.375rem, 6.25rem, 3.5rem, 2rem, 1.75rem;

.text--uppercase {
  text-transform: uppercase;
}

.text-subheading-1 {
  font-family: $ff-serif;
  font-size: 1.75rem;
  line-height: 1.15;
}

.text-subheading-2 {
  letter-spacing: 2.35px;
  font-size: 0.875rem;
  font-family: $ff-sans-cond;
  line-height: 1.18;
}

.text-nav {
  font-family: $ff-sans-cond;
  font-size: 1rem;
  letter-spacing: 2.7px;
  line-height: 1.2;
}

.text-body {
  font-family: $ff-sans-normal;
  font-size: 0.9375rem;
  line-height: 1.8;
  @include respond-to("tablet") {
    font-size: 1.125rem;
  }
}

@for $i from 1 through length($heading-sizes) {
  $size: nth($heading-sizes, $i);
  $size-tablet-up: nth($heading-sizes-tablet-up, $i);

  .text-heading-#{$i} {
    @if $i == 5 {
      font-family: $ff-sans-cond;
    } @else {
      font-family: $ff-serif;
    }
    font-size: $size;
    line-height: 1.15;

    @include respond-to("tablet") {
      font-size: $size-tablet-up;
    }
  }
}

// TEXT ALIGNMENT
$text-alignments: left, center, right, justify;

@each $align in $text-alignments {
  .text--#{$align} {
    text-align: $align;
  }
}

@each $breakpoint, $value in $breakpoints {
  @include respond-to($breakpoint) {
    @each $align in $text-alignments {
      .text-#{$breakpoint}--#{$align} {
        text-align: $align;
      }
    }
  }
}
