@import "../styles/global.scss";

#home {
  background-image: url("~/public/img/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 112px;
  padding-bottom: 48px;
  min-height: 100vh;

  @include respond-to("tablet") {
    background-image: url("~/public/img/home/background-home-tablet.jpg");
  }

  @include respond-to("desktop") {
    padding-top: 387px;
    padding-bottom: 131px;
    background-image: url("~/public/img/home/background-home-desktop.jpg");
  }
}
