@use "../styles/global.scss" as *;

.tab {
  padding-bottom: 12px;
  color: $clr-accent;
  cursor: pointer;

  &#{&}--active {
    border-color: $clr-light;
  }

  &:hover {
    border-color: hslac($clr-light, 0.5);
  }
}
